<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_header(title, links)">
    <title th:replace="${title}">대체될 타이틀</title>

    <!-- 공통으로 사용하는 css -->

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}" />
    <!-- 공통으로 사용하는 ts -->

    <script type="text/javascript" th:src="@{example.ts}"></script>

    <!-- 추가될 link들 -->

    <th:block th:replace="${links}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- google charts and chart js -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <!-- Thumb Nail -->
    <!-- Facebook Meta Tags / 페이스북 오픈 그래프 -->
    <!-- 	<meta property="og:url" content="http://soomcare.com"> -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="대한민국 1등 천식관리어플 숨케어" />
    <meta property="og:description" content="9월 종합보고서" />
    <meta property="og:image" content="http://soomcare.com/resources/images/common/thumbnail_image.png" />

    <!-- Twitter Meta Tags / 트위터 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="대한민국 1등 천식관리어플 숨케어" />
    <meta name="twitter:description" content="9월 종합보고서" />
    <meta name="twitter:image" content="http://soomcare.com//resources/images/common/thumbnail_image.png" />

    <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
    <meta itemprop="name" content="대한민국 1등 천식관리어플 숨케어" />
    <meta itemprop="description" content="9월 종합보고서" />
    <meta itemprop="image" content="http://soomcare.com//resources/images/common/thumbnail_image.png" />
</head>

<body></body>

</html>